.error_alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: rgba(159, 0, 0, 0.2196078431);
  color: #ba0000;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}
.error_alert i {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 25px;
}

.success_alert {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 20px 25px;
  background-color: rgba(0, 159, 40, 0.2862745098);
  color: #046c1e;
  font-weight: 500;
  font-size: 14px;
  border-radius: 4px;
  margin-bottom: 20px;
  position: relative;
}
.success_alert i {
  cursor: pointer;
  font-size: 24px;
  position: absolute;
  right: 25px;
}

.hide_alert {
  display: none !important;
}

.nav_drop {
  transform: translateX(0%) !important;
}

.nav_scroll {
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.13);
}

.toggle_active {
  background-color: #254074 !important;
  color: #ffffff !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html {
  overflow-x: hidden !important;
}

footer {
  margin-top: 100px;
  background-color: #254074;
}
footer .footer_content {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 50px;
  padding: 70px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.5);
}
footer .footer_content .footer_nav ._title h1 {
  font-size: 28px;
  color: #ffffff;
  font-weight: 700;
}
footer .footer_content .footer_nav ._title p {
  font-weight: 300;
  font-size: 14px;
  line-height: 28px;
  letter-spacing: 0.5px;
  color: rgba(255, 255, 255, 0.8039215686);
  margin-top: 10px;
}
footer .footer_content .footer_nav ._title h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-top: 40px;
}
footer .footer_content .footer_nav ._items {
  margin-top: 24px;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}
footer .footer_content .footer_nav ._items .nav_link {
  font-size: 14px;
  color: rgba(255, 255, 255, 0.7960784314);
  text-decoration: none;
}
footer .footer_content .footer_nav ._items .nav_link:hover {
  color: #ffffff;
}
footer .footer_content .contact_form {
  display: flex;
  flex-direction: column;
}
footer .footer_content .contact_form h2 {
  color: #ffffff;
  font-weight: 600;
  font-size: 18px;
  margin-bottom: 10px;
}
footer .footer_content .contact_form .form_control {
  width: 100%;
  border-radius: 12px;
  background-color: #ffffff;
  color: #888888;
  font-size: 14px;
  padding: 15px 20px;
  outline: none;
  border: none;
  margin-top: 20px;
}
footer .footer_content .contact_form .text_area {
  height: 150px;
  resize: none;
}
footer .footer_content .contact_form .btn_submit {
  border-radius: 12px;
  border: none;
  outline: none;
  padding: 15px 25px;
  background-color: rgba(255, 255, 255, 0.3803921569);
  color: #ffffff;
  font-weight: 600;
  margin-top: 20px;
  align-self: end !important;
  cursor: pointer;
}
footer .copyright {
  padding: 40px 0;
}
footer .copyright p {
  font-weight: 400;
  font-size: 12px;
  color: #ffffff;
}

.container {
  width: 85%;
  height: 100%;
  margin: 0 auto;
}

.form_enter_container {
  width: 100%;
  margin: 100px auto;
}
.form_enter_container .form_title {
  text-align: center;
  margin-bottom: 30px;
}
.form_enter_container .form_title h1 {
  font-size: 32px;
  font-weight: 700;
  color: #254074;
}
.form_enter_container .form_title p {
  color: #444444;
  margin-top: 10px;
}
.form_enter_container .form {
  margin-top: 20px;
}
.form_enter_container .form .form_group {
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
}
.form_enter_container .form .form_group .form_control {
  width: 100%;
  font-size: 14px;
  border-radius: 12px;
  padding: 20px 25px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  border: none;
  outline: none;
  color: #444444;
}
.form_enter_container .form .form_group .btn_submit {
  width: 100%;
  border-radius: 12px;
  padding: 20px 25px;
  background-color: #254074;
  border: none;
  outline: none;
  color: #ffffff;
  cursor: pointer;
}
.form_enter_container .form .form_group i {
  position: absolute;
  right: 25px;
  font-size: 20px;
  color: #254074;
  cursor: pointer;
}
.form_enter_container .link .to_another {
  text-align: right;
  font-size: 14px;
  color: #444444;
  margin-top: 30px;
}
.form_enter_container .link .to_another a {
  color: #254074;
  text-decoration: none;
}
.form_enter_container .link .to_home {
  text-align: center;
  margin-top: 40px;
  color: #254074;
  gap: 10px;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: center;
}
.form_enter_container .link .to_home i {
  font-size: 20px;
  rotate: 180deg;
}

nav {
  width: 100%;
  height: 100px;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #ffffff;
}
nav .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
nav .container .logo {
  z-index: 9999;
}
nav .container .logo a {
  font-size: 28px;
  font-weight: 800;
  text-decoration: none;
  color: #254074;
  letter-spacing: 0.05em;
}
nav .container .nav_items {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 0 50px 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  transition: all 600ms;
  transform: translateX(-100%);
}
nav .container .nav_items ul {
  display: flex;
  flex-direction: column;
  gap: 25px;
  width: 85%;
  margin: 0 auto;
}
nav .container .nav_items ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}
nav .container .nav_items ul li a {
  text-decoration: none;
  color: #444444;
}
nav .container .nav_items ul li a:hover {
  color: #254074;
}
nav .container .nav_itemsV2 {
  position: absolute;
  top: 0;
  left: 0;
  padding: 100px 0 50px 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff;
  transition: all 600ms;
  transform: translateX(-100%);
}
nav .container .nav_itemsV2 ul {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 85%;
  margin: 0 auto;
  margin-top: 50px;
}
nav .container .nav_itemsV2 ul li {
  list-style: none;
  font-size: 14px;
  font-weight: 500;
  opacity: 0.8;
}
nav .container .nav_itemsV2 ul li a {
  text-decoration: none;
  color: #444444;
}
nav .container .nav_itemsV2 ul li a:hover {
  color: #254074;
}
nav .container .nav_itemsV2 ul .btn_login {
  background-color: rgba(186, 0, 0, 0.2);
  color: #ba0000;
}
nav .container .nav_itemsV2 ul .btn_login:hover {
  background-color: #ba0000;
  color: #ffffff;
}
nav .container .btn_login {
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 14px 20px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  color: #254074;
  font-weight: 500;
  text-decoration: none;
  gap: 10px;
  font-size: 14px;
  border-radius: 12px;
  transition: all 400ms;
}
nav .container .btn_login i {
  font-size: 20px;
}
nav .container .btn_login:hover {
  background-color: #254074;
  color: #ffffff;
}
nav .container .nav_toggle {
  z-index: 9999;
  border-radius: 12px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  padding: 10px 15px;
  color: #254074;
  transition: all 400ms;
  cursor: pointer;
}
nav .container .nav_toggle i {
  font-size: 24px;
}
nav .container .nav_toggle:hover {
  background-color: #254074;
  color: #ffffff;
}
nav .container .nav_toggleV2 {
  z-index: 9999;
  border-radius: 12px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  padding: 10px 15px;
  color: #254074;
  transition: all 400ms;
  cursor: pointer;
}
nav .container .nav_toggleV2 i {
  font-size: 24px;
}
nav .container .nav_toggleV2:hover {
  background-color: #254074;
  color: #ffffff;
}

.header_content {
  margin-top: 100px;
  padding: 50px 0 80px 0;
  align-items: center;
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 50px;
}
.header_content ._title {
  order: 2;
}
.header_content ._title h1 {
  font-size: 28px;
  font-weight: 700;
  line-height: 40px;
  color: #444444;
}
.header_content ._title p {
  color: #444444;
  margin-top: 10px;
  line-height: 28px;
  margin-bottom: 40px;
}
.header_content ._title ._btn {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  background-color: #254074;
  font-size: 14px;
  padding: 18px 20px;
  color: #ffffff;
  text-decoration: none;
}
.header_content ._banner {
  overflow: hidden;
}
.header_content ._banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.user_menu {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 30px;
}
.user_menu ._card {
  border-radius: 12px;
  background-color: #254074;
  padding: 30px;
  height: 250px;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-direction: column;
}
.user_menu ._card ._title h2 {
  font-weight: 600;
  font-size: 24px;
  color: #ffffff;
}
.user_menu ._card ._title p {
  font-size: 14px;
  margin-top: 8px;
  color: #ffffff;
}
.user_menu ._card .btn_group {
  width: 100%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}
.user_menu ._card .btn_group ._btn {
  width: -moz-fit-content;
  width: fit-content;
  border-radius: 12px;
  background-color: #254074;
  font-size: 14px;
  padding: 18px 20px;
  color: #ffffff;
  text-decoration: none;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  background-color: rgba(255, 255, 255, 0.4274509804);
  gap: 15px;
}
.user_menu ._card .btn_group ._btn i {
  color: #fff;
  font-size: 18px;
}

.nav_user {
  width: 100%;
  height: 100px;
  position: relative !important;
  top: 0;
  left: 0;
  background-color: transparent;
  z-index: 99;
}
.nav_user .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.nav_user .container .head_title {
  display: flex;
  align-items: center;
  gap: 15px;
}
.nav_user .container .head_title .btn_back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  border-radius: 12px;
  color: #254074;
  text-decoration: none;
  cursor: pointer;
  transition: all 400ms;
  z-index: 9999;
}
.nav_user .container .head_title .btn_back:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px #dddddd;
}
.nav_user .container .head_title .btn_back i {
  font-size: 16px;
}
.nav_user .container .head_title h1 {
  font-size: 18px;
  color: #292c33;
  font-weight: 600;
}
.nav_user .container .head_title h2 {
  font-size: 16px;
  color: #292c33;
  font-weight: 600;
}
.nav_user .container .icon_profile {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 100px;
  background-color: #dddddd;
  color: #254074;
  cursor: pointer;
  position: relative;
}
.nav_user .container .icon_profile .profile_menu {
  position: absolute;
  top: 70px;
  right: 0;
  padding: 20px 25px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px #dddddd;
  width: -moz-max-content;
  width: max-content;
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  gap: 14px;
  transform: translateX(300%);
}
.nav_user .container .icon_profile .profile_menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  font-size: 14px;
  color: #444444;
  word-break: keep-all;
  cursor: pointer;
  gap: 5px;
}
.nav_user .container .icon_profile .profile_menu a i {
  font-size: 14px;
}
.nav_user .container .icon_profile .profile_menu a:hover {
  color: #254074;
}
.nav_user .container .icon_profile .profile_menu a:last-child {
  color: #ff0000;
}
.nav_user .container .icon_profile i {
  font-size: 18px;
}

.dashboard_user_menu {
  padding: 30px 0 70px 0;
}
.dashboard_user_menu .user_info {
  width: 100%;
  margin-bottom: 70px;
}
.dashboard_user_menu .user_info .user {
  margin: 0 auto;
  padding: 20px;
  width: -moz-fit-content;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.dashboard_user_menu .user_info .user ._pic {
  width: 150px;
  height: 150px;
  border-radius: 12px;
  box-shadow: 0px 0px 8px 2px #dddddd;
  padding: 10px;
  overflow: hidden;
}
.dashboard_user_menu .user_info .user ._pic img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.dashboard_user_menu .user_info .user ._pic img {
  border-radius: 12px;
}
.dashboard_user_menu .user_info .user h1 {
  font-weight: 600;
  font-size: 24px;
  color: #292c33;
  margin-top: 20px;
}
.dashboard_user_menu .user_info .user span {
  font-weight: 400;
  font-size: 14px;
  color: #444444;
  margin-top: 8px;
}
.dashboard_user_menu .user_info .statistic {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 25px;
  margin-top: 40px;
}
.dashboard_user_menu .user_info .statistic ._card {
  border-radius: 12px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  padding: 40px 0;
  text-align: center;
  transition: all 500ms;
  cursor: pointer;
}
.dashboard_user_menu .user_info .statistic ._card:hover {
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px #dddddd;
}
.dashboard_user_menu .user_info .statistic ._card h2 {
  font-weight: 600;
  font-size: 18px;
  color: #292c33;
  margin-bottom: 15px;
}
.dashboard_user_menu .user_info .statistic ._card span {
  font-weight: 600;
  font-size: 32px;
  color: #254074;
}
.dashboard_user_menu .user_info .menu {
  display: flex;
  width: 100%;
  gap: 25px;
  margin-top: 25px;
}
.dashboard_user_menu .user_info .menu a {
  font-size: 14px !important;
}
.dashboard_user_menu .user_info .menu i {
  font-size: 20px;
}
.dashboard_user_menu .user_info .menu ._btn {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border-radius: 12px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  height: 60px;
  padding: 0 30px;
  font-size: 16px;
  font-weight: 500;
  color: #254074;
  flex-grow: 1;
}
.dashboard_user_menu .user_info .menu ._btn:last-child {
  flex-grow: 0;
}
.dashboard_user_menu ._title {
  margin-bottom: 25px;
}
.dashboard_user_menu ._title h2 {
  font-size: 24px;
  color: #444444;
  font-weight: 600;
}
.dashboard_user_menu ._title p {
  color: #444444;
  font-weight: 500;
  margin-top: 12px;
  font-size: 14px;
}

.user_history ._title {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 40px;
}
.user_history ._title h2 {
  color: #444444;
  font-weight: 600;
  font-size: 18px;
}
.user_history ._title a {
  font-size: 14px;
  color: #254074;
}
.user_history .history_list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 20px;
}
.user_history .history_list ._card {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 25px 30px;
  border-radius: 12px;
  background: #ffffff;
  border: 1px solid #dddddd;
  border-left: 5px solid #254074;
  flex-direction: column;
}
.user_history .history_list ._card .aduan_title {
  width: 100%;
}
.user_history .history_list ._card .aduan_title p {
  font-weight: 300;
  font-size: 14px;
}
.user_history .history_list ._card .aduan_title h2 {
  font-weight: 600;
  font-size: 18px;
  line-height: 24px;
  margin-top: 8px;
  color: #222222;
}
.user_history .history_list ._card .btn_control {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 30px;
  margin-top: 40px;
}
.user_history .history_list ._card .btn_control ._status ._box {
  border-radius: 8px;
  width: 100%;
  padding: 10px 15px;
  font-size: 12px;
  font-weight: 500;
  text-align: center;
}
.user_history .history_list ._card .btn_control ._status .process {
  background-color: rgba(255, 183, 0, 0.3137254902);
  color: #ff5c00;
}
.user_history .history_list ._card .btn_control ._status .done {
  background-color: rgba(0, 159, 40, 0.2196078431);
  color: #009f28;
}
.user_history .history_list ._card .btn_control ._status .reject {
  background-color: rgba(159, 0, 0, 0.2196078431);
  color: #ba0000;
}
.user_history .history_list ._card .btn_control .drop_active .action_menu {
  display: flex !important;
}
.user_history .history_list ._card .btn_control ._menu {
  cursor: pointer;
  position: relative;
  height: 100%;
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.user_history .history_list ._card .btn_control ._menu i {
  font-size: 24px;
}
.user_history .history_list ._card .btn_control ._menu .active {
  display: flex !important;
}
.user_history .history_list ._card .btn_control ._menu .action_menu {
  position: absolute;
  z-index: 2;
  right: 30px;
  top: 0;
  padding: 20px;
  border-radius: 12px;
  background-color: #ffffff;
  box-shadow: 0px 0px 4px 1px #dddddd;
  width: -moz-max-content;
  width: max-content;
  display: none;
  flex-direction: column;
  align-items: flex-start;
  gap: 16px;
}
.user_history .history_list ._card .btn_control ._menu .action_menu button,
.user_history .history_list ._card .btn_control ._menu .action_menu a {
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  border: none;
  outline: none;
  color: #444444;
  word-break: keep-all;
  cursor: pointer;
  background-color: transparent;
  gap: 10px;
  font-size: 14px;
  color: #254074;
  -webkit-user-select: none;
     -moz-user-select: none;
          user-select: none;
}
.user_history .history_list ._card .btn_control ._menu .action_menu button i,
.user_history .history_list ._card .btn_control ._menu .action_menu a i {
  font-size: 16px;
}
.user_history .history_list ._card .btn_control ._menu .action_menu button:last-child,
.user_history .history_list ._card .btn_control ._menu .action_menu a:last-child {
  color: #ff0000;
}

.user_pengaduan ._title p {
  font-weight: 400;
  font-size: 14px;
  line-height: 28px;
  color: #444444;
  margin-bottom: 20px;
}

.form_pengaduan {
  margin-top: 25px;
}
.form_pengaduan .form_group {
  width: 100%;
  margin-bottom: 20px;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.form_pengaduan .form_group .form_control {
  width: 100%;
  font-size: 14px;
  border-radius: 12px;
  padding: 18px 20px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  border: none;
  outline: none;
  color: #444444;
}
.form_pengaduan .form_group i {
  position: absolute;
  right: 25px;
  font-size: 18px;
  color: #254074;
  cursor: pointer;
  pointer-events: none;
}
.form_pengaduan .form_group .text_area {
  height: 200px;
  resize: vertical;
}
.form_pengaduan .form_group .select {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}
.form_pengaduan .form_group .input_date::-webkit-calendar-picker-indicator {
  color: rgba(0, 0, 0, 0);
  opacity: 1;
  display: block;
  width: 100%;
  height: 100%;
  border-width: thin;
  position: absolute;
  cursor: pointer;
  color: #254074 !important;
  opacity: 0;
}
.form_pengaduan .form_group .btn_submit {
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 20px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 12px;
  font-size: 14px;
  background-color: #254074;
  cursor: pointer;
}

.edit_pengaduan {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 20px;
  margin-top: 25px;
}
.edit_pengaduan .form_group {
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.edit_pengaduan .form_group label {
  font-weight: 600;
  font-size: 14px;
  color: #222222;
}
.edit_pengaduan .form_group .form_control {
  width: 100%;
  font-size: 14px;
  border-radius: 12px;
  padding: 18px 20px;
  background-color: #ffffff;
  border: 1px solid #254074;
  outline: none;
  color: #444444;
}
.edit_pengaduan .form_group .form_control:disabled {
  background-color: rgba(37, 65, 116, 0.1254901961);
  border: none;
}
.edit_pengaduan .form_group .text_area {
  height: 200px;
  resize: vertical;
}
.edit_pengaduan .form_group .btn_submit {
  align-self: flex-end;
  width: -moz-fit-content;
  width: fit-content;
  padding: 18px 20px;
  font-size: 14px;
  color: #ffffff;
  border: none;
  outline: none;
  border-radius: 12px;
  background-color: #254074;
  cursor: pointer;
}
.edit_pengaduan .form_group .profile_input {
  display: flex;
  align-items: center;
  gap: 30px;
}
.edit_pengaduan .form_group .profile_input .preview {
  width: 80px;
  height: 80px;
  border-radius: 100px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.edit_pengaduan .form_group .profile_input .preview img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.edit_pengaduan .form_group .profile_input .preview i {
  font-size: 18px;
}
.edit_pengaduan .form_group .profile_input .preview img {
  position: absolute;
}
.edit_pengaduan .form_group .profile_input .file_name {
  flex-grow: 1;
  border-radius: 12px;
  padding: 15px 40px;
  background-color: rgba(37, 65, 116, 0.1254901961);
  color: #444444;
  flex-basis: content;
}

.user_news ._title p {
  font-weight: 400;
  font-size: 16px;
  line-height: 28px;
  color: #444444;
}
.user_news ._list {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 24px;
  margin-top: 30px;
  gap: 40px 24px !important;
}
.user_news ._list .card_news ._banner {
  overflow: hidden;
  aspect-ratio: 5/3;
  border-radius: 12px;
  background-color: #dddddd;
  cursor: pointer;
  position: relative;
}
.user_news ._list .card_news ._banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.user_news ._list .card_news ._banner a {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: 2;
}
.user_news ._list .card_news ._banner img {
  transition: all 500ms;
}
.user_news ._list .card_news ._banner:hover img {
  transform: scale(1.2);
}
.user_news ._list .card_news ._title {
  margin-top: 20px;
}
.user_news ._list .card_news ._title p {
  font-weight: 300;
  font-size: 14px;
  color: #444444;
}
.user_news ._list .card_news ._title a {
  font-weight: 600;
  font-size: 20px;
  line-height: 26px;
  color: #444444;
  text-decoration: none;
}
.user_news ._list .card_news ._title a:hover {
  color: #254074;
}
.user_news .pagination {
  display: flex;
  gap: 20px;
  margin-top: 50px;
}
.user_news .pagination .btn_control {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  font-size: 14px;
  border: 1px solid #254074;
  background-color: #254074;
  color: #ffffff;
  cursor: pointer;
}
.user_news .pagination .page {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 45px;
  height: 45px;
  border-radius: 12px;
  border: 1px solid #254074;
  background-color: #ffffff;
  color: #254074;
  font-size: 14px;
  font-weight: 600;
  transition: all 400ms;
  cursor: pointer;
}
.user_news .pagination .page:hover {
  background-color: #254074;
  color: #ffffff;
}
.user_news .pagination .active {
  background-color: #254074;
  color: #ffffff;
}

.pengaduan_detail_wrapper {
  display: grid;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  grid-template-rows: repeat(1, minmax(0, 1fr));
  gap: 40px;
}
.pengaduan_detail_wrapper ._content ._banner {
  aspect-ratio: 5/3;
  border-radius: 12px;
  background-color: #dddddd;
  overflow: hidden;
}
.pengaduan_detail_wrapper ._content ._banner img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pengaduan_detail_wrapper ._content .news_title {
  margin-top: 25px;
}
.pengaduan_detail_wrapper ._content .news_title p {
  color: #444444;
  font-weight: 300;
}
.pengaduan_detail_wrapper ._content .news_title h2 {
  margin-top: 8px;
  font-weight: 600;
  font-size: 24px;
  color: #222222;
}
.pengaduan_detail_wrapper ._content .detail p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  word-wrap: break-word;
  color: #444444;
  margin-top: 15px;
}
.pengaduan_detail_wrapper ._content .tanggapan {
  margin-top: 35px;
}
.pengaduan_detail_wrapper ._content .tanggapan p {
  font-weight: 300;
  font-size: 16px;
  line-height: 26px;
  text-align: justify;
  color: #444444;
  margin-top: 15px;
  font-style: italic;
}
.pengaduan_detail_wrapper ._content .tanggapan ._title h2 {
  font-weight: 600;
  font-size: 18px;
  color: #222222;
}
.pengaduan_detail_wrapper ._content .tanggapan ._not_found {
  border-radius: 8px;
  padding: 15px 15px;
  background-color: rgba(255, 0, 0, 0.3058823529);
  text-align: center;
  margin-top: 15px;
}
.pengaduan_detail_wrapper ._content .tanggapan ._not_found h4 {
  font-size: 14px;
  color: #ff0000;
  font-weight: 500;
}
.pengaduan_detail_wrapper ._info h2 {
  font-size: 18px;
  color: #222222;
  font-weight: 600;
}
.pengaduan_detail_wrapper ._info h3 {
  font-size: 14px;
  color: #444444;
  font-weight: 600;
  margin-top: 25px;
}
.pengaduan_detail_wrapper ._info .date {
  font-size: 14px;
  color: #444444;
  margin-top: 10px;
}
.pengaduan_detail_wrapper ._info ._status {
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-top: 20px;
}
.pengaduan_detail_wrapper ._info ._status ._box {
  border-radius: 8px;
  width: 100%;
  padding: 15px 15px;
  font-size: 14px;
  font-weight: 500;
  text-align: center;
}
.pengaduan_detail_wrapper ._info ._status .process {
  background-color: rgba(255, 183, 0, 0.3137254902);
  color: #ff5c00;
}
.pengaduan_detail_wrapper ._info ._status .done {
  background-color: rgba(0, 159, 40, 0.2196078431);
  color: #009f28;
}
.pengaduan_detail_wrapper ._info ._status .reject {
  background-color: rgba(159, 0, 0, 0.2196078431);
  color: #ba0000;
}
.pengaduan_detail_wrapper ._info .user_sender {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-top: 15px;
}
.pengaduan_detail_wrapper ._info .user_sender ._icon {
  width: 40px;
  height: 40px;
  border-radius: 100px;
  background-color: #dddddd;
  color: #254074;
  position: relative;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}
.pengaduan_detail_wrapper ._info .user_sender ._icon img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
.pengaduan_detail_wrapper ._info .user_sender ._icon i {
  font-size: 18px;
  position: absolute;
}
.pengaduan_detail_wrapper ._info .user_sender ._icon img {
  z-index: 2;
}
.pengaduan_detail_wrapper ._info .user_sender p {
  font-weight: 500;
  font-size: 14px;
  color: #444444;
}

@media (min-width: 768px) {
  nav {
    height: 110px;
  }
  .container {
    width: 80%;
  }
  .form_enter_container {
    width: 50%;
  }
  .nav_items {
    position: static !important;
    margin-top: 0px;
    width: -moz-fit-content !important;
    width: fit-content !important;
    height: -moz-fit-content !important;
    height: fit-content !important;
    padding: 0 !important;
    transform: translateX(0%) !important;
  }
  .nav_items ul {
    width: -moz-fit-content !important;
    width: fit-content !important;
    margin: 0 !important;
    gap: 20px;
    flex-direction: row !important;
    align-items: center;
  }
  .nav_itemsV2 ul {
    width: 80% !important;
  }
  .nav_toggle {
    display: none;
  }
  .header_content {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 50px;
  }
  .header_content ._title {
    grid-column: span 4/span 4;
  }
  .header_content ._title h1 {
    font-size: 36px;
    line-height: 54px;
  }
  .header_content ._banner {
    grid-column: span 3/span 3;
    order: 2 !important;
  }
  .user_menu {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 30px;
  }
  .user_menu ._card {
    padding: 40px;
    height: 250px;
  }
  .dashboard_user_menu .user_info .statistic {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 25px;
  }
  .dashboard_user_menu ._title h2 {
    font-size: 32px;
  }
  .dashboard_user_menu ._title p {
    font-size: 16px;
  }
  .nav_user {
    height: 120px;
  }
  .nav_user .container .head_title {
    gap: 25px;
  }
  .nav_user .container .head_title .logo {
    font-size: 28px;
    font-weight: 800;
    text-decoration: none;
    color: #254074;
    letter-spacing: 0.05em;
  }
  .nav_user .container .head_title h1 {
    font-size: 24px;
  }
  .nav_user .container .head_title h2 {
    font-size: 20px;
  }
  .nav_user .container .icon_profile {
    width: 50px;
    height: 50px;
  }
  .nav_user .container .icon_profile i {
    font-size: 18px;
  }
  .history_list ._card {
    flex-direction: row !important;
    padding: 35px 40px;
  }
  .history_list ._card .aduan_title {
    width: 100%;
  }
  .history_list ._card .aduan_title h2 {
    font-size: 20px;
    line-height: 26px;
  }
  .history_list ._card .btn_control {
    display: flex;
    align-items: center;
    justify-content: center;
    width: -moz-fit-content;
    width: fit-content;
    margin-top: 0px !important;
  }
  .user_news ._list {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 24px;
  }
  .pengaduan_detail_wrapper {
    display: grid;
    grid-template-columns: repeat(6, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 40px;
  }
  .pengaduan_detail_wrapper ._content {
    grid-column: span 4/span 4;
  }
  .pengaduan_detail_wrapper ._content ._banner {
    aspect-ratio: 4/2 !important;
  }
  .pengaduan_detail_wrapper ._info {
    grid-column: span 2/span 2;
  }
  .edit_pengaduan {
    display: grid;
    grid-template-columns: repeat(1, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 20px;
  }
  footer .footer_content {
    display: grid;
    grid-template-columns: repeat(2, minmax(0, 1fr));
    grid-template-rows: repeat(1, minmax(0, 1fr));
    gap: 50px;
  }
  .user_pengaduan ._title {
    width: 60%;
  }
  .user_pengaduan ._title p {
    font-size: 16px;
  }
}
@media (min-width: 1050px) {
  .form_enter_container {
    width: 45%;
  }
}/*# sourceMappingURL=style.css.map */